@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Formulario_Cadastro_Cliente.Models.ClienteListViewModel
    
@{
    PageResult pageResult = Model.Paginacao;
    //int pagN = pageResult.PaginaAtual;
    bool apenasAtivos = Model.ApenasAtivos;
}

<div class="row">
    <div class="col-md-8 mx-auto mb-3">
        <form class="d-flex" asp-action="List" asp-controller="Clientes" method="get">
            <input name="searchString"
                   class="form-control me-3"
                   type="search"
                   placeholder="Pesquisar por nome, cpf ou id."
                   aria-label="Buscar"
                   value="@Model.SearchString" />

            <input type="hidden" name="apenasAtivos" value="@apenasAtivos.ToString().ToLower()" />

            <button class="btn btn-dark" type="submit">Pesquisar</button>
        </form>
    </div>

</div>
<div class="d-flex justify-content-center mb-3">
    <form method="get" asp-action="List" class="d-inline">
        <input type="hidden" name="apenasAtivos" value="true" />
        <button type="submit" class="btn btn-success">Apenas Ativos</button>
    </form>

    <form method="get" asp-action="List" class="d-inline">
        <input type="hidden" name="apenasAtivos" value="false" />
        <button type="submit" class="btn btn-secondary">Todos os clientes</button>
    </form>

</div>
@if (Model.ApenasAtivos)
{
    <p><strong>Exibindo apenas clientes ativos</strong></p>
}
else
{
    <p><strong>Exibindo todos os clientes</strong></p>
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model.Clientes)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Nome</td>
                <td>@cliente.Email</td>
                <td>
                    <a class="btn btn-primary me-2"
                       asp-controller="Clientes"
                       asp-action="Editar"
                       asp-route-id="@cliente.Id">
                        Editar
                    </a>

                    <form asp-controller="Clientes"
                          asp-action="Deletar"
                          method="post"
                          class="d-inline">
                        <input type="hidden" name="id" value="@cliente.Id" />
                        <button type="submit"
                                class="btn btn-danger"
                                onclick="return confirm('Tem certeza que deseja excluir este cliente?');">
                            Deletar
                        </button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
    
</table>
<div class="container">
    @if (pageResult.TotalPaginas > 0)
    {
        <ul class="pagination justify-content-center">

            <li class="page-item @(pageResult.PaginaAtual == 1 ? "disabled" : "")">
                @if (pageResult.PaginaAtual > 1)
                {
                    <a class="page-link" asp-controller="Clientes" asp-action="List"
                       asp-route-pagina="@(pageResult.PaginaAtual - 1)"
                       asp-route-apenasAtivos="@Model.ApenasAtivos.ToString().ToLower()"
                       asp-route-searchString="@Model.SearchString">&laquo;</a>
                }
                else
                {
                    <span class="page-link">&laquo;</span>
                }
            </li>

            @for (var pge = pageResult.PaginaInicial; pge <= pageResult.PaginaFinal; pge++)
            {
                <li class="page-item @(pge == pageResult.PaginaAtual ? "active" : "")">
                    <a class="page-link"
                       asp-controller="Clientes"
                       asp-action="List"
                       asp-route-pagina="@pge"
                       asp-route-apenasAtivos="@Model.ApenasAtivos.ToString().ToLower()"
                       asp-route-searchString="@Model.SearchString">@pge</a>
                </li>
            }

            <li class="page-item @(pageResult.PaginaAtual == pageResult.TotalPaginas ? "disabled" : "")">
                @if (pageResult.PaginaAtual < pageResult.TotalPaginas)
                {
                    <a class="page-link" asp-controller="Clientes" asp-action="List"
                       asp-route-pagina="@(pageResult.PaginaAtual + 1)"
                       asp-route-apenasAtivos="@Model.ApenasAtivos.ToString().ToLower()"
                       asp-route-searchString="@Model.SearchString">&raquo;</a>
                }
                else
                {
                    <span class="page-link">&raquo;</span>
                }
            </li>
        </ul>
    }
</div>
@section Scripts {
    <script>
        const searchInput = document.querySelector('input[name="searchString"]');
        const form = searchInput.closest('form');

        // Detecta quando o usuário apaga tudo e sai do campo
        searchInput.addEventListener('input', function () {
            if (!this.value) {
                // Se campo vazio envia o formulario novamente sem termo de busca
                const url = new URL(window.location.href);
                url.searchParams.delete('searchString');
                url.searchParams.set('pagina', 1);
                window.location.href = url.toString();
            }
        });
    </script>
}
